<div class="logo">
    <h1>Time Tracker</h1>
</div>

<ul class="custom-nav nav nav-tabs">
	<li class="active">
		<%= link_to 'Home', root_path %>
	</li>
	<li class="">
		<%= link_to 'Time Entries', posts_path %>
	</li>
	
	<li class="dropdown pull-right">
		 <a class="dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">
		     Account <strong class="caret"></strong>
		 </a>
		<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
			<li> <%= link_to "Edit details", edit_user_registration_path %> </li>
			<li class="divider"/>
			<li> <%= link_to "Log out", destroy_session_path(:user), method: :delete %> </li>
		</ul> 
	</li>
</ul>