<div class="container-fluid">
    <div class="pending-homepage row">
        <h2 class="text-center">Items pending for approval</h2>
        <hr>
        <%= render partial: 'pending_approval', locals: { pending_approvals: @pending_approvals } %>
    </div>
    <div class="pending-homepage row">
        <div class="homepage-block col-md-3">
            <p>
                Hello World
            </p>
        </div>
    </div>
</div>