<div class="container fluid">
    <div class="row">
        <div class="col-md-5 column jumbotron emp-block">
            sdfasf
        </div>
        
        <div class="col-md-5 column jumbotron emp-block">
            asdfasd
        </div>
    </div>
</div>