<h1>Posts</h1>
<table class="table table-hover table-sm">
	<thead>
		<tr>
		    <th>ID</th>
			<th>Rationale</th>
			<th>Date</th>
			<th>User Name</th>
		</tr>
	</thead>
	<tbody>
		<%= render @posts %>
	</tbody>
</table>
